.App {
  text-align: center;
  background-color: darkgray;
}

.column {
  float: left;
  height: 100vh;
  box-sizing: border-box;
  border: 5px solid darkgray;
  background-clip: padding-box;
  background-color: white;

}

.left {
  width: 10%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 200px;
}

.middle {
  width: 35%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.emails {
  width: 100%;
  overflow: scroll;
}

.right {
  width: 55%;
}


.inbox {
  height: 20px;
  width: 20px;
  border: 1px solid black;
  
}